.sidebar {
  height: 100vh;
  flex: 0.2;
  color: white;
  min-width: 230px;
  padding-right: 10px;
  padding-left: 10px;
  background: #040404;
}
.sidebar__logo {
  height: 70px;
  object-fit: contain;
  padding: 10px;
  margin-right: auto;
}
.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}
